<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="cs" connectionString="uznhA3LKKMBKMZVxZb7jEXG2MMrdIRe5SR7xhGLaSycROtigy7z1zom5j8SJrdmqEnbhwH5YkV+1Bsn0U1C5GLRg6Arr1wb1pkU6lTp+sjvhKTxPNARSt3l9M2KiH7SSaNX+HE/Ii0oDCzN/hlQeHT0cy6dFpBsnmMlKNbeL+IeN5UKGCc96w14CJ9LPRjbTswFUf4ao2Zod1xXjWsfp6PdGfEJdvxOJPab/dzXIFWFwS3bmCQsVgpfncb/No3G9jVzIQIV0Ve3auaHvygsxaCZbj5nCfQ8fQFKY/Rlvr88mQpozeWBSqg=="/>
  </connectionStrings>
</configuration>